<h3> View Employee Details</h3>
<div>
    <div>
        <label> <b> First Name: </b></label> {{employee.firstName}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{employee.lastName}}
    </div>
    <div>
        <label> <b> Email Id: </b></label> {{employee.emailId}}
    </div>
    
    <div class="col-md-2 !important">
        <button class="btn btn-primary" (click)="goToUpdateEmployee()">Update</button>
        <button class="btn btn-warning" onclick="window.history.back()"> Back </button>
    </div>
    
</div>
